.field-display-overview .required-field::after {
  margin-left: 4px;
  content: '*';
  color: #e32700;
}
.field-display-overview .required-field-multivalue::after {
  margin-left: 4px;
  content: '* ∞';
  color: #e32700;
  font-family: arial, sans-serif;
}
